@model List<SocialMedia>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
    int count = 1;
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Social Media</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Social Medias</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            The activities related to the social media can be done by using the panel below :
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Url</th>
                                    <th scope="col">Icon</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Title</td>
                                        <td>@item.Url</td>
                                        <td>@item.Icon</td>
                                        <td><a href="/SocialMedia/DeleteAccount/@item.SocialMediaId" class="btn btn-outline-warning">Delete</a></td>
                                        <td><a href="/SocialMedia/UpdateAccount/@item.SocialMediaId" class="btn btn-outline-success">Update</a></td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                        <a href="/SocialMedia/CreateAccount/" class="btn btn-primary">Create</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>